<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>販売実績一覧</title>
</head>
<body>
<h2>販売実績一覧</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>日付</th>
        <th>商品名</th>
        <th>本数</th>
    </tr>
    <tr th:each="record : ${records}">
        <td th:text="${record.id}"></td>
        <td th:text="${record.saleDate}"></td>
        <td th:text="${record.product.name}"></td>
        <td th:text="${record.quantity}"></td>
    </tr>
</table>
<a th:href="@{/sales/new}">新しい販売実績を登録</a>
<td th:text="${record.product.name}"></td>

</body>
</html>
